/* 
 * Font Custom: bare CSS
 */

@font-face {
  font-family: "fontcustom";
  src: url("fontcustom_faaf7f0be3f21fa7ee37d2eb3d8e15d8.eot");
  src: url("fontcustom_faaf7f0be3f21fa7ee37d2eb3d8e15d8.eot?#iefix") format("embedded-opentype"),
       url("fontcustom_faaf7f0be3f21fa7ee37d2eb3d8e15d8.woff") format("woff"),
       url("fontcustom_faaf7f0be3f21fa7ee37d2eb3d8e15d8.ttf") format("truetype"),
       url("fontcustom_faaf7f0be3f21fa7ee37d2eb3d8e15d8.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-android_lockup:before,
.icon-android_symbol:before,
.icon-android_type:before,
.icon-angular_js_lockup:before,
.icon-angular_js_symbol:before,
.icon-backbone_js_symbol:before,
.icon-css3_lockup:before,
.icon-css3_symbol:before,
.icon-django_type:before,
.icon-ember_js_small:before,
.icon-ember_js_type2:before,
.icon-hadoop_type:before,
.icon-html5_lockup:before,
.icon-html5_symbol:before,
.icon-html5_type:before,
.icon-ios_knockout:before,
.icon-ios_type:before,
.icon-javascript_knockout:before,
.icon-javascript_type:before,
.icon-jquery_lockup:before,
.icon-jquery_symbol:before,
.icon-jquery_type:before,
.icon-knockout_js_symbol:before,
.icon-knockout_js_type:before,
.icon-mongodb_lockup:before,
.icon-mongodb_symbol:before,
.icon-mongodb_type:before,
.icon-mysql_lockup:before,
.icon-mysql_symbol:before,
.icon-mysql_type:before,
.icon-node_js_lockup:before,
.icon-node_js_type:before,
.icon-php_reverse:before,
.icon-php_type:before,
.icon-postgresql_lockup:before,
.icon-postgresql_symbol:before,
.icon-postgresql_type:before,
.icon-python_lockup:before,
.icon-python_symbol:before,
.icon-python_type:before,
.icon-rails_lockup:before,
.icon-rails_symbol:before,
.icon-rails_type:before {
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-android_lockup:before { content: "\f100"; }
.icon-android_symbol:before { content: "\f101"; }
.icon-android_type:before { content: "\f102"; }
.icon-angular_js_lockup:before { content: "\f103"; }
.icon-angular_js_symbol:before { content: "\f104"; }
.icon-backbone_js_symbol:before { content: "\f105"; }
.icon-css3_lockup:before { content: "\f106"; }
.icon-css3_symbol:before { content: "\f107"; }
.icon-django_type:before { content: "\f108"; }
.icon-ember_js_small:before { content: "\f109"; }
.icon-ember_js_type2:before { content: "\f10a"; }
.icon-hadoop_type:before { content: "\f10b"; }
.icon-html5_lockup:before { content: "\f10c"; }
.icon-html5_symbol:before { content: "\f10d"; }
.icon-html5_type:before { content: "\f10e"; }
.icon-ios_knockout:before { content: "\f10f"; }
.icon-ios_type:before { content: "\f110"; }
.icon-javascript_knockout:before { content: "\f111"; }
.icon-javascript_type:before { content: "\f112"; }
.icon-jquery_lockup:before { content: "\f113"; }
.icon-jquery_symbol:before { content: "\f114"; }
.icon-jquery_type:before { content: "\f115"; }
.icon-knockout_js_symbol:before { content: "\f116"; }
.icon-knockout_js_type:before { content: "\f117"; }
.icon-mongodb_lockup:before { content: "\f118"; }
.icon-mongodb_symbol:before { content: "\f119"; }
.icon-mongodb_type:before { content: "\f11a"; }
.icon-mysql_lockup:before { content: "\f11b"; }
.icon-mysql_symbol:before { content: "\f11c"; }
.icon-mysql_type:before { content: "\f11d"; }
.icon-node_js_lockup:before { content: "\f11e"; }
.icon-node_js_type:before { content: "\f11f"; }
.icon-php_reverse:before { content: "\f120"; }
.icon-php_type:before { content: "\f121"; }
.icon-postgresql_lockup:before { content: "\f122"; }
.icon-postgresql_symbol:before { content: "\f123"; }
.icon-postgresql_type:before { content: "\f124"; }
.icon-python_lockup:before { content: "\f125"; }
.icon-python_symbol:before { content: "\f126"; }
.icon-python_type:before { content: "\f127"; }
.icon-rails_lockup:before { content: "\f128"; }
.icon-rails_symbol:before { content: "\f129"; }
.icon-rails_type:before { content: "\f12a"; }
